In [11]:
import pandas as pd
import numpy as np

##  Countries of analysis:

In [12]:
country_list = ["Spain", "Netherlands", "France", "Greece", "Austria", "Denmark", "Belgium", "Italy", "Poland", "Sweden"]

List of headers in order to match to the SQL database (reference)

header_list = ["Year", "Country", "Score", "GDP", "Social support", 
               "Healthy life expectancy", "Freedome", "Corruption"]

In [13]:
country_id = [key+1 for key in range(10)]

In [14]:
country_id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
countries = pd.DataFrame({'country': country_list, 'country_id': country_id})

In [16]:
countries.head()

       country  country_id
0        Spain           1
1  Netherlands           2
2       France           3
3       Greece           4
4      Austria           5

## Cleaning of Happiness 2017

#### open file

In [16]:
happiness_2017 = pd.read_csv("../Data/backup_raw_data/happiness_2017_extended.csv")

#### select countries

In [17]:
happiness_2017 = happiness_2017[(happiness_2017["Country"].isin(country_list))]
happiness_2017.columns

Index(['Country', 'Happiness score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices',
       ' Generosity', 'Perceptions of corruption', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

##### change the col names + drop empty cols

In [41]:
happiness_2017 = happiness_2017.dropna(axis=1)
happiness_2017 = happiness_2017.rename(columns={"Happiness score":"Score", "GDP per capita":"GDP",
                                               "Freedom to make life choices":"Freedom"})

In [42]:
happiness_2017

,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401
5,Netherlands,7.377,1.504,1.429,0.811,0.585,0.470,0.283
8,Sweden,7.284,1.494,1.478,0.831,0.613,0.385,0.384
12,Austria,7.006,1.487,1.460,0.815,0.568,0.316,0.221
16,Belgium,6.891,1.464,1.462,0.818,0.540,0.232,0.251
30,France,6.442,1.431,1.388,0.844,0.470,0.130,0.173
33,Spain,6.403,1.384,1.532,0.889,0.409,0.190,0.071
45,Poland,5.973,1.292,1.446,0.699,0.520,0.158,0.059
47,Italy,5.964,1.395,1.445,0.853,0.256,0.173,0.028
86,Greece,5.227,1.289,1.239,0.810,0.096,0.000,0.043

#### save to new csv

In [43]:
happiness_2017.to_csv("../Data/happiness_2017.csv")

# Cleaning of happiness 2016
code steps explained in previous section, same process used for all tables

In [39]:
# read
happiness_2016 = pd.read_csv("../Data/backup_raw_data/happiness_2016_extended.csv")

# check for countries 
happiness_2016 = happiness_2016[(happiness_2016["Country"].isin(country_list))]

# rename columns for consistencey to join
happiness_2016 = happiness_2016.rename(columns={"Happiness score":"Score", "GDP per capita":"GDP", 
                                                "Freedom to make life choices":"Freedom"})

# frop Na column 
happiness_2016 = happiness_2016.dropna(axis=1)

happiness_2016

,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption
0,Denmark,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532
6,Netherlands,7.339,1.464684,1.029123,0.812309,0.552114,0.474158,0.299268
9,Sweden,7.291,1.451810,1.087640,0.831212,0.582185,0.382538,0.408666
11,Austria,7.119,1.450382,1.083833,0.805645,0.543552,0.328647,0.213484
17,Belgium,6.929,1.425390,1.052487,0.819594,0.513538,0.242399,0.262476
31,France,6.478,1.394884,1.005080,0.837950,0.465618,0.121603,0.178083
36,Spain,6.361,1.342531,1.129447,0.878960,0.375447,0.176650,0.061373
49,Italy,5.977,1.354947,1.041667,0.851018,0.188267,0.166839,0.025556
56,Poland,5.835,1.245847,1.046848,0.690581,0.451902,0.144435,0.054996
98,Greece,5.033,1.248862,0.754732,0.800289,0.058221,0.000000,0.041272

In [44]:
# save
happiness_2016.to_csv("../Data/happiness_2016.csv")

# Cleaning of happines other years

In [40]:
# read file
happiness_older = pd.read_csv("../Data/backup_raw_data/happiness_2015_to_2010_extended.csv")

# select countries
happiness_older = happiness_older[(happiness_older["country"].isin(country_list))]

# make column names consistent to join 
happiness_older = happiness_older.rename(columns={"Life Ladder":"Score", "Log GDP per capita":"GDP", 
                                                  "Healthy life expectancy at birth":"Healthy life expectancy", 
                                                  "Freedom to make life choices":"Freedom"})

# two columns with NaN as csv file had a cell merge
happiness_older = happiness_older.dropna(axis=1)

# maintain all columns consistent with all files of Happiness. 
# 2015 onwards dont't have pos, neg affect and confidence in national government 
happiness_older = happiness_older.drop(["Positive affect"], axis=1)
happiness_older = happiness_older.drop(["Negative affect"], axis=1)

happiness_older.head()

,country,year,Score,GDP,Social support,Healthy life expectancy,Freedom,Confidence in national government
52,Austria,2006,7.122211,10.648226,0.936350,70.018700,0.941382,0.497038
53,Austria,2008,7.180954,10.692783,0.934593,70.501869,0.879069,0.257242
54,Austria,2010,7.302679,10.668132,0.914193,70.632278,0.895980,0.486447
55,Austria,2011,7.470513,10.692453,0.944157,70.985039,0.939356,0.406920
56,Austria,2012,7.400689,10.695439,0.945142,70.944412,0.919704,0.376574

In [45]:
# save 
happiness_older.to_csv("../Data/happiness_2015_and_older.csv")

# Cleaning final data to insert it into the database

## Cleaning countries dataframe

In [17]:
countries = countries.rename(columns={"country_id":"id"})

In [18]:
countries_columns = ["id", "country"]

countries = countries[countries_columns]

In [19]:
countries.to_csv("../Data/countries.csv", index=False)

## Cleaning elections data

In [76]:
elections = pd.read_csv("../Data/backup_raw_data/Elections_10_countries_raw.csv")

In [77]:
elections.head()

   Country  Year   Type  Proportion
0  Belgium  2019  Right       12.00
1  Belgium  2014  Right        2.67
2  Belgium  2019   Left        8.00
3  Belgium  2014   Left        1.33
4  Denmark  2019  Right       11.17

#### Renaming the columns to the way we have defined in the database

In [78]:
elections = elections.rename(columns={"Country":"id_country", "Year":"year", "Proportion":"proportion_votes", "Type":"extreme_type"})

#### Cleaning misleading names

In [80]:
elections["id_country"] = elections["id_country"].str.replace("French", "France")

#### Changing name of countries per ids, since this is consistent with the way we designed the database

In [235]:
country_id_dict = dict(zip(country_id, country_list))

In [236]:
country_id_dict

{1: 'Spain',
 2: 'Netherlands',
 3: 'France',
 4: 'Greece',
 5: 'Austria',
 6: 'Denmark',
 7: 'Belgium',
 8: 'Italy',
 9: 'Poland',
 10: 'Sweden'}

In [237]:
elections = elections.replace({"id_country": country_id_dict})

In [19]:
#elections.head()

#### Changing the order of columns

In [83]:
elections.columns

Index(['id_country', 'year', 'extreme_type', 'proportion_votes'], dtype='object')

In [84]:
elections_columns = ["year", "id_country", "proportion_votes", "extreme_type"]

elections = elections[elections_columns]

In [85]:
elections.head()

   year  id_country  proportion_votes extreme_type
0  2019           7             12.00        Right
1  2014           7              2.67        Right
2  2019           7              8.00         Left
3  2014           7              1.33         Left
4  2019           6             11.17        Right

In [86]:
elections.to_csv("../Data/Elections_10_countries.csv", index=False)

## Adapting happiness reports
As we relised that part of the measurement scale of the reports did not match after the merge, we took the merged file from 2019 provided by the happiness report website and used that to analyse the correlation of individual variables to the election rates of chosen countries.

(see happines_cons - standing for consistent variable mesurements)

In [30]:
#happiness = pd.read_csv("../Data/backup_raw_data/happiness_all_raw.csv")
happiness_cons = pd.read_csv("../Data/backup_raw_data/happiness_all_raw_consistent_eval.csv")

In [31]:
#happiness.head()
happiness_cons.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Confidence in national government
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.612072
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.611545
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.299357
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.307386
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.435440

#### Renaming column so that we can make a merge between happiness and countries dataframes

In [44]:
#happiness = happiness.rename(columns={"Country":"country"})
happiness_cons = happiness_cons.rename(columns={"Country name":"country", "Life Ladder":"Score", 
                                                "Log GDP per capita":"GDP", 
                                                "Healthy life expectancy at birth":"Healthy life expectancy",
                                                "Freedom to make life choices":"Freedom"})

In [45]:
#happiness.head()
happiness_cons.head()

,country,Year,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,Confidence in national government,id
0,Austria,2006,7.122211,10.657212,0.936350,70.760002,0.941382,0.300667,0.490111,0.497038,5
1,Austria,2008,7.180954,10.701936,0.934593,71.080002,0.879069,0.289452,0.613625,0.257242,5
2,Austria,2010,7.302679,10.676744,0.914193,71.400002,0.895980,0.129112,0.546145,0.486447,5
3,Austria,2011,7.470513,10.702182,0.944157,71.540001,0.939356,0.129720,0.702721,0.406920,5
4,Austria,2012,7.400689,10.704404,0.945142,71.680000,0.919704,0.115939,0.770586,0.376574,5

### Merging dataframes to then be able to convert countries per ids more easily

In [34]:
#happiness = pd.merge(happiness,countries,on="country") 
happiness_cons = pd.merge(happiness_cons,countries,on="country")

In [35]:
#happiness.columns
happiness_cons.columns

Index(['country', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Confidence in national government', 'id'],
      dtype='object')

### Ordering columns

In [47]:
#happiness_columns = ["id", "country", "Year", "Score", "GDP", "Social support", "Healthy life expectancy", "Freedom",
                     #"Generosity", "Perceptions of corruption", "Confidence in national government"]
       

#happiness = happiness[happiness_columns]

happiness_columns = ["id", "country", "Year", "Score", "GDP", "Social support", "Healthy life expectancy", 
                     "Freedom", "Generosity", "Perceptions of corruption", "Confidence in national government"]
       

happiness_cons = happiness_cons[happiness_columns]

In [48]:
#happiness_columns = list(happiness.columns)
happiness_cons_columns = list(happiness_cons.columns)

In [50]:
#happiness_columns
happiness_cons_columns

['id',
 'country',
 'Year',
 'Score',
 'GDP',
 'Social support',
 'Healthy life expectancy',
 'Freedom',
 'Generosity',
 'Perceptions of corruption',
 'Confidence in national government']

### Replacing names for consistency between dataframes and database. 
Used a function so it can be used more times easily

In [40]:
def lower_case(list):
    new_list = []
    for word in list:
        new_word = word.lower()
        new_list.append(new_word)
    return new_list

In [41]:
# happiness_columns = lower_case(happiness_columns)
happiness_cons_columns = lower_case(happiness_columns)

In [51]:
print(happiness_columns)
print (happiness_cons_columns)

['id', 'country', 'Year', 'Score', 'GDP', 'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity', 'Perceptions of corruption', 'Confidence in national government']
['id', 'country', 'Year', 'Score', 'GDP', 'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity', 'Perceptions of corruption', 'Confidence in national government']

In [52]:
#happiness.head()
happiness_cons.head()

,id,country,Year,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,Confidence in national government
0,5,Austria,2006,7.122211,10.657212,0.936350,70.760002,0.941382,0.300667,0.490111,0.497038
1,5,Austria,2008,7.180954,10.701936,0.934593,71.080002,0.879069,0.289452,0.613625,0.257242
2,5,Austria,2010,7.302679,10.676744,0.914193,71.400002,0.895980,0.129112,0.546145,0.486447
3,5,Austria,2011,7.470513,10.702182,0.944157,71.540001,0.939356,0.129720,0.702721,0.406920
4,5,Austria,2012,7.400689,10.704404,0.945142,71.680000,0.919704,0.115939,0.770586,0.376574

In [53]:
#happiness = happiness.rename(columns={"id":"id_country"})
happiness_cons = happiness_cons.rename(columns={"id":"id_country"})

### Dropping country names, since we have merged with countries and we have now country ids

In [55]:
#happiness = happiness.drop("country",axis=1)
happiness_cons = happiness_cons.drop("country",axis=1)

In [56]:
#happiness.head()
happiness_cons.head()

,id_country,Year,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,Confidence in national government
0,5,2006,7.122211,10.657212,0.936350,70.760002,0.941382,0.300667,0.490111,0.497038
1,5,2008,7.180954,10.701936,0.934593,71.080002,0.879069,0.289452,0.613625,0.257242
2,5,2010,7.302679,10.676744,0.914193,71.400002,0.895980,0.129112,0.546145,0.486447
3,5,2011,7.470513,10.702182,0.944157,71.540001,0.939356,0.129720,0.702721,0.406920
4,5,2012,7.400689,10.704404,0.945142,71.680000,0.919704,0.115939,0.770586,0.376574

In [58]:
#happiness.to_csv("../Data/happiness_all.csv", index=False)
happiness_cons.to_csv("../Data/happiness_all_constant.csv", index=False)